.extra-wrapper{
    color:rgb(255, 255, 255);
    position:relative;
    padding-bottom:2rem;
    background-color: black;
    z-index:1;
}
.extra-container{
    justify-content:space-around;
    align-items: flex-end;
}

.extra-title{
    position:relative;
    z-index:1;
}

.extra-title>h1{
    font-weight:600;
    font-size:3.8rem;
    line-height:4rem;
}

.extra-left{
    gap:3rem;
}

.bluecircle{
    height:4rem;
    width:4rem;
    background-color: blue;
    border-radius: 999px;
    position:absolute;
    right:30%;
    top:-8%;
    z-index:-1;

}

.searchbar{
    background-color: white;
    border-radius: 5px;
    border:3px solid grey;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width:100%;
}
.searchbar>input{
    border:none;
    outline:none;
}
.image-container{
    width:30rem;
    height:35rem;
    overflow:hidden;
    border-radius:15rem 15rem 0 0;
    border:5px solid grey;
}
.image-container>img{
    width:100%;
    height:100%;

}

.stats{
    width:100%;
    justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    font-size: 2rem;
    color: orange;
}

*{
    /* margin: -4px; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
  
@media (max-width: 640px) {
    .extra-container {
      padding-top: 2rem;
    }
    .extra-title > h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .image-container {
      width: 95%;
      height: 25rem;
    }
    .stats {
      justify-content: center;
      gap: 1.5rem;
    }
    .extra-right {
      width: 100%;
    }
    .stat > :nth-child(1) {
      font-size: 1.5rem;
    }
    .stat > :nth-child(2) {
      font-size: 0.8rem;
    }
  }
